stages:
  - build

variables:
  REGISTRY: hub.alterway.fr
  NAMESPACE: library

before_script:
  - if [[ "$CI_BUILD_REF_NAME" != master ]]; then NAMESPACE="$CI_BUILD_REF_NAME"; fi

build:
  stage: build
  script:
    - docker build --pull -t $REGISTRY/$NAMESPACE/consul-template:0.11 0.11/ > /dev/null
    - docker build --pull -t $REGISTRY/$NAMESPACE/consul-template:0.12 0.12/  > /dev/null
    - docker build --pull -t $REGISTRY/$NAMESPACE/consul-template:0.11-dockerinside-1.10 0.11-dockerinside-1.10/  > /dev/null
    - docker build --pull -t $REGISTRY/$NAMESPACE/consul-template:0.11-dockerinside-1.11 0.11-dockerinside-1.11/  > /dev/null
    - docker build --pull -t $REGISTRY/$NAMESPACE/consul-template:0.12-dockerinside-1.10 0.12-dockerinside-1.10/  > /dev/null
    - docker build --pull -t $REGISTRY/$NAMESPACE/consul-template:0.12-dockerinside-1.11 0.12-dockerinside-1.11/  > /dev/null
    - docker push $REGISTRY/$NAMESPACE/consul-template:0.11  > /dev/null
    - docker push $REGISTRY/$NAMESPACE/consul-template:0.12  > /dev/null
    - docker push $REGISTRY/$NAMESPACE/consul-template:0.11-dockerinside-1.10  > /dev/null
    - docker push $REGISTRY/$NAMESPACE/consul-template:0.11-dockerinside-1.11  > /dev/null
    - docker push $REGISTRY/$NAMESPACE/consul-template:0.12-dockerinside-1.10  > /dev/null
    - docker push $REGISTRY/$NAMESPACE/consul-template:0.12-dockerinside-1.11  > /dev/null
  only:
    - preprod
    - master
